name: Validate CODEOWNERS

on:
  pull_request:
    paths:
      - "CODEOWNERS"
      - ".github/CODEOWNERS"
      - ".requirecodeowners.yml"
      - "services/**"

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: kpurdon/requirecodeowners@v1
